In [1]:
import pandas as pd
data = pd.Series([0.25,0.5,0.75,1.0],index = ['a','b','c','d'])
print(data.index)
print(data.values)
print(type(data),type(data.values),type(data.index),sep = "\n")
print(data[0])
print(data['a'])
print(data.values[1])
print(data[data.index[2]])
print(data[0:2])
print(data['c':'d'])

Index(['a', 'b', 'c', 'd'], dtype='object')
[0.25 0.5  0.75 1.  ]
<class 'pandas.core.series.Series'>
<class 'numpy.ndarray'>
<class 'pandas.core.indexes.base.Index'>
0.25
0.25
0.5
0.75
a    0.25
b    0.50
dtype: float64
c    0.75
d    1.00
dtype: float64

In [2]:
dict_grades = {'A+':91,'A':81,'B+':71}
grades = pd.Series(dict_grades)
print(grades)
print(type(grades),type(dict_grades),sep = '\n')
df = pd.DataFrame({"Data":data,"Grades":dict_grades})
print(df[1:2])

A+    91
A     81
B+    71
dtype: int64
<class 'pandas.core.series.Series'>
<class 'dict'>
    Data  Grades
A+   NaN    91.0

In [3]:
print(df,df.T,sep="\n")
print(df.values)
print(df.index)
print(df.columns)
df['Scaled GPA'] = df['Grades']/100 * 10 
print(df['Scaled GPA'])
del df['Scaled GPA']

    Data  Grades
A    NaN    81.0
A+   NaN    91.0
B+   NaN    71.0
a   0.25     NaN
b   0.50     NaN
c   0.75     NaN
d   1.00     NaN
           A    A+    B+     a    b     c    d
Data     NaN   NaN   NaN  0.25  0.5  0.75  1.0
Grades  81.0  91.0  71.0   NaN  NaN   NaN  NaN
[[  nan 81.  ]
 [  nan 91.  ]
 [  nan 71.  ]
 [ 0.25   nan]
 [ 0.5    nan]
 [ 0.75   nan]
 [ 1.     nan]]
Index(['A', 'A+', 'B+', 'a', 'b', 'c', 'd'], dtype='object')
Index(['Data', 'Grades'], dtype='object')
A     8.1
A+    9.1
B+    7.1
a     NaN
b     NaN
c     NaN
d     NaN
Name: Scaled GPA, dtype: float64

In [7]:
print(df)
print(df.fillna(7))
df['Data'] = df['Data'].fillna(0.25)
print(df)
df['Grades'] = df['Grades'].fillna(61)
print(df)
df.dropna? # to del null values

    Data  Grades
A   0.25    81.0
A+  0.25    91.0
B+  0.25    71.0
a   0.25    61.0
b   0.50    61.0
c   0.75    61.0
d   1.00    61.0
    Data  Grades
A   0.25    81.0
A+  0.25    91.0
B+  0.25    71.0
a   0.25    61.0
b   0.50    61.0
c   0.75    61.0
d   1.00    61.0
    Data  Grades
A   0.25    81.0
A+  0.25    91.0
B+  0.25    71.0
a   0.25    61.0
b   0.50    61.0
c   0.75    61.0
d   1.00    61.0
    Data  Grades
A   0.25    81.0
A+  0.25    91.0
B+  0.25    71.0
a   0.25    61.0
b   0.50    61.0
c   0.75    61.0
d   1.00    61.0